<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="styles.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <title>All Employees</title>

      </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light border">
         <a class="navbar-brand" href="/">Home</a>
         <div class="collapse navbar-collapse" id="navbar">
                 <ul class="navbar-nav mr-auto mt-2">
                     <li class="nav-item"><a class="nav-link" href="/users">Show all users</a></li>
                 </ul>
         </div>
     </nav>
     <main>
      <div>
          <h1>All users</h1>

          <form>
            <p>Sort by:</p>
            <div>
              <input type="radio" id="contactChoice1"
               name="sort_by" value="ysalary" checked>
              <label for="contactChoice1">Salary</label>

              <input type="radio" id="contactChoice2"
               name="sort_by" value="lname">
              <label for="contactChoice2">Last name</label>

              <input type="radio" id="contactChoice3"
               name="sort_by" value="id">
              <label for="contactChoice3">ID</label>
            </div>
            <div>
              <input type="radio" id="orderChoice1"
               name="order" value="ASC">
              <label for="orderChoice1">Ascending</label>

              <input type="radio" id="orderChoice2"
               name="order" value="DESC" checked>
              <label for="orderChoice2">Descending</label>
            </div>
            <div>
              <button type="submit">Reorder</button>
            </div>
          </form>
            <div class="table-responsive">
                <table class="table table-striped table-sm">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Year salary</th>
                        </tr>
                    </thead>

                    <tbody>
                            <% for user in @users %>
                                <tr>
                                    <td><a href=<%= "/users/%" + user['id'] %>><%= user['id'] %></a></td>
                                    <td><%= user['fname'] %></td>
                                    <td><%= user['lname'] %></td>
                                    <td><%= user['ysalary'] %></td>
                                </tr>
                            <% end %>
                    </tbody>
                </table>
            </div>
      </div>
    </main>
  </body>
</html>
